.wrap
	width:7.5rem;
	background-color:RGB(240,242,245);
	.top
		width:7.5rem;
		overflow:hidden;
		.top-bar-wrap
			width:22.5rem;
			.bannerImg-wrap
				display:inline-block;
				width:7.5rem;
				.bannerImg
					width:100%;
	.nav-bar-wrap
		width:7.5rem;
		position:relative;
		font-size:0.3rem;
		.nav-bar
			display:flex;
			display:-webkit-flex;
			margin:0 0 0.1rem;;
			.nav-bar-list
				flex:1;
				-webkit-flex:1;
				text-align:center;
				height:0.75rem;
				line-height:0.75rem;
				color:#000;
				background-color:#fff;
				margin:0 0.01rem;
		.dropdown-list
			position:absolute;
			width:7.5rem;
			top:0.77rem;
			left:0;
			ul
				width:100%;
				li
					width:100%;
					height:0.75rem;
					line-height:0.75rem;
					background-color:#fff;
					margin-top:0.01rem;
					text-align:center;
	.activity-list
		width:7.5rem;
		.activity
			width:100%;
			margin:0.2rem 0;
			.activity-top
				width: 7.50rem;
		    height: 4.20rem;
				position:relative;
				background-color: #f0f2f5;
				.activity-image
					width:100%;
				.activity-true
					display:block;
					position:absolute;
					top:0.2rem;
					right:0.01rem;
					background-color: #6cb83b;
					padding: 0.05rem 0.1rem;
					color:#fff;
					border-radius:5px;
				.activity-time
			.activity-bottom
				.activity-title
				.activity-type
				.activity-fee
			    position: absolute;
			    right: 30px;
			    top: 30px;
			    text-align: center;
					h2
						color: #ff1a1a;
    				font-size: 40px;
    				font-weight: bold;
    				text-align: right;