.activity
  width:100%;
  margin:0 0 0.2rem;
  .activity-top
    width:7.50rem;
    height:4.20rem;
    position:relative;
    background-color:#f0f2f5;
    .activity-image
      width:100%;
    .activity-true
      display:block;
      position:absolute;
      top:0.2rem;
      right:0.1rem;
      background-color:#6cb83b;
      padding:0.05rem 0.1rem;
      color:#fff;
      border-radius:5px;
      font-size: 0.3rem;
    .activity-time
      position: absolute;
      padding: 0.1rem;
      bottom: 0.2rem;
      left: 0.3rem;
      background-color: RGBA(0,0,0,0.2);
      border-radius: 5px;
      color:#fff;
      font-size:0.3rem;
      font-weight: bold;
  .activity-bottom
    position: relative;
    width: 7.50rem;
    overflow: auto;
    background-color: #fff;
    min-height: 1.72rem;
    .activity-title
      position: absolute;
      left: 0.3rem;
      top: 0.2rem;
      font-size: 0.34rem;
      color: #333;
      width: 6rem;
    .activity-type
      padding: 0.8rem 1.45rem 0 0.3rem;
      li
        padding: 0.05rem 0.1rem;
        color: #77c043;
        font-size: 0.2rem;
        border-radius: 2px;
        border: 1px solid #77c043;
        float:left;
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
    .activity-fee
      position:absolute;
      right:0.3rem;
      top:0.3rem;
      text-align:center;
      h2
        color:#ff1a1a;
        font-size:0.4rem;
        font-weight:bold;
        text-align:right;
        .fee-red
          font-size:0.24rem;
          font-weight:normal;
      .sale-red
        font-size: 0.24rem;
        padding: 0.01rem 0.02rem;
        color: #666666;
  .activity-totalcount
    position: relative;
    width: 7.5rem;
    height: 0.54rem;
    background-color: #fff;
    color: #999999;
    font-size: 0.24rem;
    padding: 0 0 0.25rem 0.3rem;
    span
      color: #77c043;