.wrap
	width:7.5rem;
	background-color:RGB(240,242,245);
	.top
		width:7.5rem;
		overflow:hidden;
		.top-bar-wrap
			width:22.5rem;
			.bannerImg-wrap
				display:inline-block;
				width:7.5rem;
				.bannerImg
					width:7.5rem;
	.nav-bar-wrap
		width:7.5rem;
		position:relative;
		.nav-bar
			display:flex;
			display:-webkit-flex;
			margin:0 0 0.1rem;;
			.nav-bar-list
				flex:1;
				-webkit-flex:1;
				text-align:center;
				height:0.75rem;
				line-height:0.75rem;
				font-size:0.3rem;
				color:#000;
				background-color:#fff;
				margin:0 0.01rem;
		.dropdown-list
			position:absolute;
			width:7.5rem;
			top:0.77rem;
			left:0;
			ul
				width:100%;
				li
					width:100%;
					height:0.75rem;
					line-height:0.75rem;
					background-color:#fff;
					margin-top:0.01rem;
					text-align center
	.activity-list
		.cus-item
	    width: 7.5rem;
	    height: auto;
	    margin-bottom: 0.2rem;
	    position:relative;
	    .cus-item-top
		    position: relative;
		    width: 7.50rem;
		    height: 4.20rem;
		    background-color: #f0f2f5;
		    img
		    	width:7.5rem;
		    .cus-confirm-info
    	    position: absolute;
			    top: 0.2rem;
			    right: 0;
			    span
						padding: 0.05rem 0.1rem;
					  float: right;
					  margin-right: 0.01rem;
					  font-size: 0.24rem;
					  color: #fff;
					  border-radius: 5px;
					  background-color: #6cb83b;
				.cus-time-bg
					position: absolute;
			    padding: 0.1rem;
			    top: 3.55rem;
			    left: 0.3rem;
			    background-color: RGBA(0,0,0,0.2);
			    border-radius: 5px;
			    .cus-time
			    	color: #fff;
			    	padding-left:0.25rem;

			  .activitymain-worddialog
	  	    position: absolute;
			    left: 0.22rem;
			    bottom: 0.81rem;
			    font-size: 0.24rem;
			    color: #ffffff;
			    li
			    	line-height: 0.64rem;
    				padding-top: 0.8rem;
			    li:nth-child(1)
				    line-height: 0.64rem;
				    padding-top: 0.16rem;
				.tips
					position:absolute;
					width:1.36rem;
					height:0.77rem;
					left: 0.30rem;
					top: 0;
				.cus-item-bottom
			    position: relative;
			    width: 7.50rem;
			    overflow: auto;
			    background-color: #fff;
					min-height: 1.72rem;
					.cus-item-title
						width: 6rem;
					.cus-item-type
						padding-top: 0.8rem;
    				padding-left: 0.3rem;
						padding-right: 1.45rem;
						li
							float:left;
							margin-right: 0.1rem;
							margin-bottom: 0.1rem;
					.cus-item-fee
						position: absolute;
				    right: 0.30rem;
				    top: 0.30rem;
				    text-align: center;
				    h2
				    	color: #ff1a1a;
					    font-size: 0.40rem;
					    font-weight: bold;
					    text-align: right;
						.sale-red
					    font-size: 0.24rem;
					    padding: 0.01rem 0.02rem;
					    color: #666666;
					  .market-price
					  	text-align: right;
	    				display: block;
    		.cus-item-totalcount
			    position: relative;
			    width: 7.50rem;
			    height: 0.54rem;
			    background-color: #fff;
			    color: #999999;
			    font-size: 0.24rem;
